{% extends 'template.html.twig' %}

{% block title %}Order{% endblock %}
{% block PageTitle %}Order{% endblock %}
{% block Chemin %}<a href="#">Order</a>{% endblock %}

{% block body %}
<section class="checkout_area section_gap pt-0">
        <div class="container">           
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>
                        <div>
                            <h4>FirstName : {{app.user.firstname}}</h4>
                            <h4>Lastname : {{app.user.lastname}}</h4>
                            <h4>Email : {{app.user.email}}</h4>
                            <h4>Address : {{app.user.address}}</h4>
                            <h4>Phone : {{app.user.phone}}</h4>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                {% for element in data %}
                                <li><a href="#">{{element.product.name}} <span class="middle">x {{element.quantity}}</span> <span class="last">{{element.quantity * element.product.price}}€</span></a></li>
                                {% endfor %}
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>{{total}}€</span></a></li>
                                <li><a href="#">Shipping <span>Collissimo : 5€</span></a></li>
                                <li><a href="#">Total <span>{{total + 5}}€</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector">
                                    <label for="f-option5">Check payments</label>
                                    <div class="check"></div>
                                </div>
                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                    Store Postcode.</p>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">Paypal </label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                    account.</p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                            <a class="primary-btn" href="{{path('app_cart_order')}}">Proceed to Paypal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}